/* --- GLOBAL --- */
body {
  margin: 0; padding: 0;
  font-family: 'Georgia', serif;
  background: #F9F7F2;
  text-align: center;
  overflow-x: hidden;
  color: #8DAA91;
}

.hidden { display: none !important; }

/* --- MUSIC SYMBOL BUTTON --- */
#musicToggle {
  position: absolute; top: 25px; right: 25px;
  width: 40px; height: 40px;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
}

#musicSymbol {
  font-size: 35px;
  color: #8DAA91;
  line-height: 1;
}

.slash {
  position: absolute; width: 3px; height: 100%;
  background-color: #ff6b6b; transform: rotate(45deg);
  display: none; pointer-events: none;
}

#musicToggle.muted .slash { display: block; }

/* --- LANDING PAGE --- */
.screen-center {
  position: relative;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 100vh; gap: 20px;
}

.main-nav-btn {
  padding: 15px 40px; 
  border: 2.5px solid #8DAA91;
  background: #fff; border-radius: 100px;
  cursor: pointer; font-weight: bold; font-size: 18px;
  color: #8DAA91; box-shadow: 3px 3px 0px #8DAA91;
}

/* --- BOOTH & BUTTONS --- */
.top-bar {
  display: flex; justify-content: center; align-items: center;
  position: relative; height: 80px;
  background: #fff; border-bottom: 2px solid #8DAA91;
}

.pixel-arrow { 
  padding: 4px 12px; font-size: 14px;
  background: #fff; border: 2.5px solid #8DAA91;
  color: #8DAA91; border-radius: 50px;
  cursor: pointer;
}

.icon-btn { width: 75px; height: auto; cursor: pointer; }

.booth-layout-wrapper {
  display: flex; flex-direction: column;
  align-items: center; gap: 25px; padding: 20px;
}

.booth {
  position: relative; width: 90vw; max-width: 400px;
  margin: 0 auto; line-height: 0; border: none;
}

#frameOverlay { position: relative; width: 100%; height: auto; z-index: 10; pointer-events: none; }
video { position: absolute; z-index: 1; object-fit: cover; transform: scaleX(-1); }
.captured-slot-photo { position: absolute; object-fit: cover; z-index: 5; }
